@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", sans-serif; */
* {
    margin: 0;
    padding: 0;

}   

body{
    max-width: 1920px;
    margin: 0 auto;
}

#header {
    background-image: linear-gradient(
        0.00deg,
        rgb(9, 9, 9) 3.482%,
        rgba(16, 16, 16, 0) 101.632%
        ),
    url('../assets/hero-bg.png');
    width: 1920px;
    height: 919px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    width: 1000px;
    height: 214px;
}

.subtitle {
color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 32px;
font-weight: 600;
line-height: 38px;
letter-spacing: 0%;
text-align: center;
opacity: 0.8;

}

.title {
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 64px;
font-weight: 700;
line-height: 80px;
letter-spacing: 0%;
text-align: center;
margin-top: 16px;
}

.description {
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 18px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
margin-top: 24px;

}

.btn {
    padding: 21px 32px 21px 32px;
    border-radius: 8px;
    background: rgb(82, 195, 3);
    border: none;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 32px;
}

.btn-container {
    text-align: center;
}

/* section 2 design */

.about {
    border: 2px solid red;
    width: 1920px;
    height: 671px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    
}

.img-container img {
        width: 960px;
    height: 671px;
    position: cover;
}

.about-title {
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 48px;
font-weight: 700;
line-height: 64px;
letter-spacing: 0%;
text-align: center;
margin-top: 136px;
}

.p1 {
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 24px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
opacity: 0.6;
margin-top: 24px;

}

.p2 {
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 32px;
font-weight: 600;
line-height: 38px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
margin-top: 78px;

}